<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>32014688994-p0chf83li5vr3j0ik7fu4uvoh7ls18fe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32014688994-p0chf83li5vr3j0ik7fu4uvoh7ls18fe</string>
	<key>API_KEY</key>
	<string>AIzaSyDnwOtIPJUxlBMG5b1AjUU7zEhYyTy7ntg</string>
	<key>GCM_SENDER_ID</key>
	<string>32014688994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.amgm.spotifytest</string>
	<key>PROJECT_ID</key>
	<string>songq-8d450</string>
	<key>STORAGE_BUCKET</key>
	<string>songq-8d450.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:32014688994:ios:3cfab6734c48ddf2</string>
	<key>DATABASE_URL</key>
	<string>https://songq-8d450.firebaseio.com</string>
</dict>
</plist>